.body {
  background-color: red;
}

#root {
  height: 500px;
}

.row {
  height: inherit;
}

.card {
  width: 100%;
  /* height: 50vh; */
}

.creation {
  color: white;
}

#tweet-quote {
  text-decoration: none;
}
